*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    display:flex;
    padding:100px 0;
    background:url(./img/top-banner.png);
    background-repeat:no-repeat;
}
.header-text{
    margin-left:100px;
}
.header-color{
    color:orange;
}
.halfwidth h1{
    font-size:50px;
    font-weight:700;
}
.halfwidth h2{
    font-size:40px;
    font-weight:700;
    margin:30px 0;
}
.halfwidth h3{
    font-weight:700;
    margin-bottom: 30px;
}
.header p{
    font-size:18px;
    text-align: justify;
}
.btn-link{
    text-decoration: none;
    padding:5px 20px;
    background-image: linear-gradient(orange, red);
    color:white;
    font-size:20px;
    text-transform: uppercase;
    margin-top:30px;
    display:inline-block;
    border-radius:5px;
}
.halfwidth{
    width:50%;
}
.halfwidth img{
    max-width: 70%;
}
.dream-blog h1{
    font-size:50px;
    font-weight:700;
    color: purple;
    margin-bottom: 30px;
}
.dream-blog .halfwidth img{
    margin-left:80px;
}